body {
  font-family: 'Roboto', sans-serif;
}

html {
  overflow-x: hidden;
}

h1 {
  font-weight: 300;
}

.content {
  display: flex;
  margin: auto;
  max-width: 480px;
  flex-direction: column;
  color: #000;
  font-size: 1.2em;
  padding: 2em;
}

.heading {
  font-size: 1.5em;
  color: #fff;
  background-color: #4e4e4e;
}

.info {
  line-height: 2rem;
}

.content a {
  margin-right: 2.5em;
  font-size: 15px;
}

.icons {
  display: flex;
  padding-top: 1em;
}

.fa-github, .fa-linkedin-in, .fa-envelope {
  color: #000;
}

.fa-github:hover, .fa-linkedin-in:hover, .fa-envelope:hover {
  color: #778899;
}

@media only screen and (max-width : 480px) {
  .heading {
    font-size: 1em;
  }

  .info {
    font-size: 1rem;
  }

  .content {
    padding: 1.5em;
  }
}



