body {
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    overflow-x: hidden;
    position: relative;
}

html {
  overflow-x: hidden;
}

.top {
  text-align: center;
}

.heading {
  display: flex;
  flex-direction: column;
  background-color: #4A5054;
  padding-top: 6vh;
  color: white;
  font-size: 1.2em;
  padding-bottom: 7vh;
  letter-spacing: 1px;
}

.desktop {
  font-size: 2.0em;
}

.mobile {
  display:none;
}

@media only screen and (max-width: 768px) {
  .desktop {
    display: none;
  }

  .mobile {
    font-size: 1.5em;
    display: block;
  }
    
}

.heading a {
  padding-top: 3vh;
  padding-right: 3vh;
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 15px;
}

.heading h1 {
  text-transform: uppercase;
}

#github:hover a, #linkedin:hover a, #resume:hover a {
  color: #728FCE;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  padding-top: 10vh;
}

.gallery a {
  flex-basis: 125px;
  max-width: 300px;
  margin: 40px;
}

#contact {
  text-align: center;
  padding-top: 20px;
}

