body {
  font-family: 'Roboto', sans-serif;
}

html {
  overflow-x: hidden;
}

h1 {
  font-weight: 300;
}

.content {
  display: flex;
  margin: auto;
  max-width: 475px;
  flex-direction: column;
  color: #000;
  font-size: 1.2em;
  padding: 2em;
}

.heading {
  font-size: 1.5em;
  color: #fff;
  background-color: #4e4e4e;
}

.info {
  line-height: 2rem;
}

.content a {
  text-decoration: none;
  color: inherit;
  border-bottom: 3px solid;
  margin-right: 2.5em;
  font-size: 1em;
  font-weight: bold;
}

.content a:hover {
  transition: ease-in 100ms;
  font-size: 1.5rem;
}

.icons {
  display: flex;
  padding-top: 1em;
}

@media only screen and (max-width : 480px) {
  .heading {
    font-size: 1em;
  }

  .info {
    font-size: 1rem;
  }

  .content {
    padding: 1.5em;
  }
}



